<form class="ui stacked segment form" action="/dashboard/addcampus" method="POST">

    <div class="field">
    <label for="id">ID</label>
    <input placeholder="ID" type="text" name="id" autofocus required>
    </div>

  <button class="ui blue submit button">Add Campus</button>
</form>