<form class="ui stacked segment form" action="/room/{{campus.id}}/build/{{building.id}}/getRoom/{{room.id}}/addClass" method="POST">
    

  <button class="ui blue submit button">Add Class</button>
</form>