{{#each campus.building.room}}
    <section class ="ui segment">
    <h2 class="ui header">
      {{id}}
    </h2>
    <a href="/room/{{id}}">
    <i class='icon open folder'></i>
    </a>
    <a href="/building/{{../building.id}}/deleteRoom/{{id}}">
    <i class="icon trash deleteRoom"></i>
    </a>
    </section>
{{/each}}
