
<nav class="ui menu">
  <header class="ui header item"> <a href="/" id="dodge"> W.I.T Reservations</a></header>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard" id="orange"> Dashboard </a>
    <a id="about" class="item" href="/about" id="orange"> About</a>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script>
$("#{{id}}").addClass("active item");
</script>