{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    The W.I.T Reservations Team:
  </h2>

  <div class="ui centered cards">
  {{#each developers}}
    {{> card}}
    {{/each}}
  </div>
</section>