{{> menu}}

<section class="ui segment">
  <div class="ui breadcrumb">
  <a class="section" href="/dashboard">Campus</a>
  <i class="right angle icon divider"></i>
    <a class="section" href="/campus/{{campus.id}}">Building</a>
    <i class="right angle icon divider"></i>
  <div class="active section">Rooms</div>
    <i class="right angle icon divider"></i>
        <div class="section">Classes</div>
    
</div>
  <h2 class="ui header">
    {{building.name}}
  </h2>
  {{> listroom}}
  {{> addroom}}
</section>