{{> menu}}

<section class="ui segment">
<div class="ui breadcrumb">
  <a class="section" href="/dashboard">Campus</a>
  <i class="right angle icon divider"></i>
    <div class="active section" >Building</div>
    <i class="right angle icon divider"></i>
      <div class=" section">Rooms</div>
    <i class="right angle icon divider"></i>
      <div class="section">Classes</div>
</div>
  <h2 class="ui header">
    {{campus.id}}
  </h2>
  {{> listbuilding}}
  {{> addbuilding}}
</section>