{{> menu id="dashboard"}}

<section class="ui segment">
<div class="ui breadcrumb">
  <div class="active section">Campus</div>
  <i class="right angle icon divider"></i>
    <div class="section">Building</div>
    <i class="right angle icon divider"></i>
      <div class=" section">Rooms</div>
    <i class="right angle icon divider"></i>
      <div class="section">Classes</div>
</div>
  {{> listcampus}}
  {{> addcampus}}
</section>