{{> menu}}

<section class="ui segment">
  <div class="ui breadcrumb">
  <a class="section" href="/dashboard">Campus</a>
  <i class="right angle icon divider"></i>
    <a class="section" href="/campus/{{campus.id}}">Building</a>
    <i class="right angle icon divider"></i>
      <a class=" section" href="/building/{{campus.id}}/build/{{building.id}}">Rooms</a>
    <i class="right angle icon divider"></i>
      <div class="active section">Classes</div>
</div>
  <h2 class="ui header">
    {{room.name}}
  </h2>
  {{> listclass}}
  {{> addclass}}
</section>