{{> menu}}

      <section class="ui two column grid segment">
        <div class="ui column">
          <h2 id="dodge">{{title}}</h2>
          
            This app will allow users to navigate through the different campuses, buildings, and rooms
            in which W.I.T is situated. 
           <br><br> The user may also add a new campus, building or room to the existing list.<br><br>
            A list of classes scheduled in each room are also available, with the option of adding a new class,
            updating an existing one or deleting a scheduled class.
            
          <br><br>
           <a class="ui blue button" href="/dashboard">
              Get Started <i class="arrow circle right icon" id="iconwhite"></i>
            </a> 
        </div>
        <div class="ui column">

              <img
                class="ui rounded image"
                src="https://cdn.glitch.com/57c0dc07-1113-44d7-8ab8-ff7583315525%2FWaterford-Institute-of-Technology-4.png?v=1614693439498"
              />

          </div>
        </div>
      </section>
    </section>