{{> menu}}

      <section class="ui two column grid segment">
        <div class="ui column">
          <h2>{{title}}</h2><br>
          <p>
            This app will allow users to schedule classes in rooms on a
            first come first served basis.<br><br> Buildings and rooms may be added to the
            existing list by any user.
          </p><br>
           <a class="ui blue button" href="/dashboard">
              Get Started <i class="arrow circle right icon"></i>
            </a> 
        </div>
        <div class="ui column">

              <img
                class="ui rounded image"
                src="https://cdn.glitch.com/57c0dc07-1113-44d7-8ab8-ff7583315525%2FWaterford-Institute-of-Technology-4.png?v=1614693439498"
              />

          </div>
        </div>
      </section>
    </section>