body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

h3 {
  text-align: center!important;
}
.ui.header {
  color: dodgerblue;
}

.ui.blue.button {
  background-color: dodgerblue;
}

th {
  color: orange!important;
}

label{
  color: dodgerblue!important;
}

.active.section{
  color: orange;
}

.ui.menu {
  color: dodgerblue;
    background-image: url("https://cdn.glitch.com/327c9440-a1c3-42c6-95ae-92a594ef75ff%2FWIT%20Logo68.png?v=1616335450385")!important;
  background-repeat: no-repeat;
  background-position: center;
}

.name{
  padding-top:20px;
  padding-right:5px;
  line-height:20px;
  font-weight:bold;
  text-transform:capitalize;
}

.profilepic{
  padding-top:15px;
  padding-right:5px;
  line-height:20px;
  font-weight:bold;
}

#dodge {
  color: dodgerblue;
}

#orange {
  color: orange!important;
}

p {
  color: orange;
}

i {
  color: lightgray;
}

#iconwhite {
  color: white;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}