body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.ui.header {
  color: dodgerblue;
}

.ui.blue.button {
  background-color: dodgerblue;
}

th {
  color: orange!important;
}

label{
  color: dodgerblue!important;
}

.active.section{
  color: orange;
}



#dodge {
  color: dodgerblue;
}

#orange {
  color: orange!important;
}

p {
  color: orange;
}

i {
  color: lightgray;
}

#iconwhite {
  color: white;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}